@media only screen and (max-width: 1037px)
{
.d-none-mob{
   display:none; }

.main2{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 50px;
	
}

.leftmob{
	

	margin: 5px;
	padding-left: 10%;
	height: 50vw
	
}

.rightmob{
	margin: 5px;
	padding-right: 10%;
	display: table-cell;
	vertical-align: center;
	align-items: center;
	height : 50vw
	
}


#imageCircle{
	align-self: center;
	border-radius: 50%;
	width: 80%;
	height: 70%;
	background-color: rgb(177, 177, 177);
	background-image: url("images/image1.png");
	background-size: cover;
	margin: auto;

}

.hii{

	font-size: 4vw;
	text-align: center;
	margin: 0;
    display: flex;
	align-items: center;
	

}

.body {
	width: 100%;
}

}


  






@media only screen and (min-width: 1036px){
	.d-none-desk{
	 display:none; 
	}

	.main{
		display: grid;
		grid-template-rows: 11fr 1fr;
		height: 95vh;
		margin: 10px;
	   }
	
	.upper{
		display: grid;
		grid-template-columns: 1fr 1fr; 
		grid-column-gap: 150px;
		padding: 20vh;
		padding-top: 25vh;
		padding-left: 35vh;
	}
	
	.leftMenu{
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-self: end;
		align-self: center;
		border-radius: 50%;
		height: 44vh;
		width: 44vh;
		background-color:#FF6363
	}
	
	#intro{
		justify-self: center;
		align-self: center;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	  font-size: 18px;
	  font-weight: 450;
	  color: white;
	}
	
	#imageCircle{
		align-self: center;
		
		border-radius: 50%;
		height: 21vh;
		width: 21vh;
		background-color: rgb(177, 177, 177);
		background-image: url("images/image1.png");
		background-size: cover;
	
	}
	
	
	
	a {
		color: inherit;
	  }
	
	.rightMenu{
		display: grid;
		justify-content: left;
		align-self: center;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	  font-size: 16px;
	  font-weight: 450;
	  line-height: 20px;
		
		color: black;
	}
	
	.bottom{
		text-align: center;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
	
	#menuitem2{
		display: inline;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 16px;
		font-weight: 450;
	  } 
	
	}