@media only screen and (max-width: 1037px)
{
.d-none-mob{
   display:none; }

.main2{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 50px;
	height: 50vw;
	
}

.projects{
	display: grid;
	grid-template-columns: 50% 50%;
	height: 30vw;
	width: 60vw;
	margin-top: 5vw;
	margin-left: auto;
	margin-right: auto;
	column-gap: 0vw;

}
	


#ttext{
	display: block;
}

#neche{
	padding-top: 2%;
  }

#menuit{
	display: inline;
	font-family: 'Roboto', sans-serif;
	color: #696969;
	
	font-size: 3vw;
	font-weight: 400;
  } 

#textneche{
	height: auto;
	width: 60vw;
	margin: auto;
}

#imageCircle{
	align-self: center;
	border-radius: 50%;
	width: 80%;
	height: 80%;
    background-image: url(images/image1.png) ;
	background-color: white;
	background-size: cover;
	margin: auto;

}

#proCircle{
	align-self: center;
	border-radius: 50%;
	width: 100%;
	height: 100%;
    background-image: url(images/image1.png) ;
	background-color: white;
	background-size: cover;
	margin: auto;

}




.hii{

	font-size: 4vw;
	font-family: 'Roboto', sans-serif;
	color: #696969;
	
	text-align: center;
	margin: 0;
    display: flex;
	align-items: center;
	margin: auto;
	

}

.rightpro{
	padding: 5%;
	padding-left: 30%;
	padding-top: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
} 

.leftpro{
	padding: 5%;
	padding-right: 30%;
	padding-top: 30%;
	justify-content: center;
    align-items: center;
    display: flex;
	
}

	

.about{
	text-align: center;
	margin-top: 5vw;
	margin-bottom: 10vw;
}

.leftmob{
	margin: 5px;
	padding-left: 10%;
	padding-top: 10%;
	justify-content: center;
    align-items: center;
    display: flex;
	
}



.rightmob{
	margin: 5px;
	padding-right: 10%;
	padding-top: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    
	
}

}




.body {
	width: 100%;
}



  






@media only screen and (min-width: 1036px){
	.d-none-desk{
	 display:none; 
	}

	.main{
		display: grid;
		grid-template-rows: 11fr 1fr;
		height: 78vh;
		margin: 10px;
	   }
	
	.upper{
		
		
		grid-column-gap: 150px;
		padding-top: 11vh;
		padding-bottom: 2vh;
		height: 63vh;
	}
	
	.leftMenu{
		
		height: 63vh;
		width: 63vh;
		margin: auto;
		
	}
	
	#intro{
		justify-self: center;
		align-self: center;
		font-family: 'Roboto', sans-serif;
		color: #696969;
	  font-size: 20px;
	  font-weight: 400;
	  color: black;

	}
	
	#imageCircle{
		margin: auto;

		
		border-radius: 50%;
		height: 63vh;
		width: 63vh;
		background-color: rgb(177, 177, 177);
		background-image: url("images/image1.png");
		background-size: cover;
	
	}
	
	
	
	a {
		color: inherit;
	  }
	
	.rightMenu{
		display: grid;
		justify-content: left;
		align-self: center;
		font-family: 'Roboto', sans-serif;
		color: #696969;
		
	  font-size: 16px;
	  font-weight: 400;
		color: black;
	}
	
	.bottom{
		text-align: center;
		font-family: 'Roboto', sans-serif;
		color: #696969;
		font-weight: 400;
	}
	
	#menuitem2{
		display: inline;
		font-family: 'Roboto', sans-serif;
		color: #696969;
		
		font-size: 16px;
		font-weight: 400;
		margin: 15px;
	  } 

	  #menuitem3{
		display: inline;
		font-family: 'Roboto', sans-serif;
		color: #696969;
		
		font-size: 16px;
		font-weight: 400;
		margin: 15px;
	  } 

	  #menuitem4{
		display: inline;
		font-family: 'Roboto', sans-serif;
		color: #696969;
		
		font-size: 16px;
		font-weight: 400;
		margin: 15px;
	  } 

	  #menuitem5{
		display: inline;
		font-family: 'Roboto', sans-serif;
		color: #696969;
		
		font-size: 16px;
		font-weight: 400;
		margin: 15px;
	  } 

	  #menuitem6{
		display: inline;
		font-family: 'Roboto', sans-serif;
		color: #696969;
		
		font-size: 16px;
		font-weight: 400;
		margin: 15px;
	  } 

	  #menuitem7{
		display: inline;
		font-family: 'Roboto', sans-serif;
		color: #696969;
		
		font-size: 16px;
		font-weight: 400;
		margin: 15px;
	  } 

	  #menuitem7:hover{
     color: red;
	 font-weight: bold;
	  }
	  
	  #menuitem6:hover{
		color: red;
		font-weight: bold;
		 }
	
		 #menuitem5:hover{
			color: red;
			font-weight: bold;
			 }

			 #menuitem4:hover{
				color: red;
				font-weight: bold;
				 }

				 #menuitem3:hover{
					color: red;
					font-weight: bold;
					 }

					 #menuitem2:hover{
						color: red;
						font-weight: bold;
						 }
    #ba{
		margin-top: 10vh;

	}
	.mm{
		display: inline;
		float: left;
		margin: auto;
		padding-top: 28vh;
		padding-left: 7vh;

	}

	#yoo{
		font-size: 16px;
		font-family: 'Roboto',  sans-serif;
		
		padding: 10px;
		font-weight: 400;
		color: #696969;
	}
	  
	  
	}


	body {
		-webkit-animation-delay: 0.1s;
		-webkit-animation-name: fontfix;
		-webkit-animation-duration: 0.1s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: linear;
	}
	
	@-webkit-keyframes fontfix {
		from { opacity: 1; }
		to   { opacity: 1; }
	}
	
	